body {
    font-family: Helvetica, sans-serif;
    margin: 0px;
    width: 100%;
}
h1 {
    font-size: 1.5rem;
}
.link-button {
    transition: background-color 0.2s, color 0.4s;
    background-color: rgb(4, 159, 217);
    margin: 0.5rem;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 1.6rem;
    align-self: center;
    height: 1.8rem;
    cursor: pointer;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px 0px;
}
.header-link {
    align-self: center;
}
.header-inner {
    background: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    height: 40px;
    display: flex;
}
.logo {
    height: 23px;
    width: 63px;
}
.title {
    align-self: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    margin-left: 2rem;
    min-width: 7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal;
}
.content {
    margin: 4rem 2rem;
}
.flex {
    display: flex;
}
.title-left {
    margin-left: auto;
}
.menu-div {
    margin: 0.5rem;
    font-size: 13.8px;
    font-family: CiscoSans;
    color: rgb(4, 159, 217);
    z-index: 2;
}
#menu-holder {
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    top: 9px;
    padding: 0;
    background-color: white;
}
.top-div {
    margin: 5px;
}
#logout-div {
    margin: 14px 5px 5px 5px;
    display: none;
}
.menu-text {
    cursor: pointer;
    padding: 8px 6px;
    white-space: nowrap;
}
