@font-face {
  font-family: "CiscoSans";
  src: url(/dist/asset-f981fb.ttf) format("truetype");
}
body {
    font-family: Helvetica, sans-serif;
    margin: 0px;
    width: 100%;
    background-color: rgb(242, 242, 242);
}
h1 {
    font-size: 1.5rem;
}
.link-button {
    transition: background-color 0.2s, color 0.4s;
    background-color: rgb(4, 159, 217);
    margin: 0.5rem;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 1.6rem;
    align-self: center;
    height: 1.8rem;
    cursor: pointer;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px 0px;
}
.header-link {
    align-self: center;
}
.header-inner {
    background: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    height: 40px;
    display: flex;
}
.logo {
    height: 23px;
    width: 63px;
}
.title {
    align-self: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    margin-left: 2rem;
    min-width: 7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal;
}
.content {
    margin: 4rem 2rem;
}
.flex {
    display: flex;
}
.title-left {
    margin-left: auto;
}
.menu-div {
    margin: 0.3rem;
    font-size: 12.8px;
    font-family: CiscoSans;
    color: rgb(4, 159, 217);
    z-index: 2;
}
#menu-holder {
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    top: 9px;
    padding: 0;
    background-color: white;
}
.top-div {
    margin: 5px;
}
#logout-div {
    margin: 14px 5px 5px 5px;
    display: none;
}
.menu-text {
    cursor: pointer;
    padding: 8px 6px;
    white-space: nowrap;
}
#sc-menu {
    position: fixed;
    pointer-events: none;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: bottom 0.3s;
}
.sc-item {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 0.2rem rgb(255, 255, 255);
    color: rgb(4, 159, 217);
    pointer-events: auto;
    font-family: CiscoSans;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    text-decoration: none;
    overflow: hidden;
    line-height: 1;
}
.sc-letter {
    padding: 0.1rem;
    font-size: 2.5rem;
    text-align: center;
}
.sc-text {
    position: absolute;
    bottom: 0;
    padding: 0.3rem;
    font-size: 0.8rem;
}
#button-div {
    position: relative;
    margin: 4.35rem 0 0 0;
    transition: margin 0.3s;
}
#button {
    position: relative;
    width: 2rem;
    height: 1rem;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: rgb(4, 159, 217);
    pointer-events: auto;
    font-family: CiscoSans;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 2px;
    text-decoration: none;
    overflow: hidden;
    font-size: 1rem;
    transition: transform 0.3s;
    transform: rotate(-180deg);
}
